doctype
html
  head
    meta(charset='UTF-8')
    title scroll coilerplate
    link(href="favicon.ico", rel="icon", type="image/png")
    link(rel="stylesheet", type="text/css", href="css/main.css")
      
  body
    section(role="main")#js-main
      .scroll-inner

    script(src="js/jquery-2.1.0.min.js")
    script(src="js/jquery.superscrollorama.js")
    script(src="js/iscroll.js")
    script(src="js/tweenmax.min.js")
    script(src="js/main.js")
